*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corPrincipal: #3971C9;
    --corContainer: #EAEAED;
    --corContainerLista: #EEEFF2;
    --gray: #768296;
    --green: #47A466;
    --yellow: #F7BE33;
    --red: #E23F3E;
}

body{
    background-color: var(--corContainer);
}

header{
    background-color: var(--corPrincipal);
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

header button{
    background-color: var(--gray);
    color: white;
    padding: 8px;
    margin-top: 10px;
    border: none;
    outline: none;
}

header button:hover{
    cursor: pointer;
}

main{
    background-color: var(--corContainerLista);
}

.containerJobs{
    padding: 15px;
}

.cardJob{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cardJob h2{
    margin-bottom: 5px;
}

.cardJob .situation{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.cardJob .situation p{
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.cardJob .situation button{
    background-color: var(--gray);
    color: white;
    padding: 8px;
    border: none;
    outline: none;
}

.cardJob .situation button:hover{
    cursor: pointer;
}

#green{
    background-color: var(--green);
}
#yellow{
    background-color: var(--yellow);
}
#red{
    background-color: var(--red);
}

.colors .boll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.colors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.blue{
    background-color: var(--corPrincipal);
}

.green{
    background-color: var(--green);
}

.yellow{
    background-color: var(--yellow);
}

.red{
    background-color: var(--red);
}

.containerAddJobs{
    width: 60%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    margin: 20px auto;
    gap: 20px;
    margin-bottom: 100px;
}

.containerX{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--corContainerLista);
    border-width: 100%;
}

.containerX button{
    background-color: white;
    border: none;
    color: var(--corContainer);
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.containerInfo{
    display: flex;
    flex-flow: column nowrap;
}

.campo{
    display: flex;
    flex-flow: column nowrap;
}

.campo input,select{
    padding: 6px;
}

.containerbtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-top: 1px solid var(--corContainerLista);
    border-width: 100%;
    margin-top: 10px;
}

.containerbtns button{
    margin-top: 10px;
    padding: 8px;
    border: none;
    outline: none;
}

#btnSave{
    background-color: var(--corPrincipal);    
    color: white;
}

#btnCancel{
    background-color: var(--gray);
    color: black;
}

@media (min-width: 768px){
    header{
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header button{
        padding: 10px;
    }

    .cardJob .situation{
        flex-flow: row nowrap;
    }
}

@media (min-width: 1200px){
    .containerMax{
        max-height: 100%;
        max-width: 1200px;
        margin: auto;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
    }
}
